@use "../variables" as *;
@use "../mixins" as *;

.pagination {
    border-radius: $border_radius;
    box-shadow: $box_shadow;
    background: #fff;
    line-height: 2;
    text-align: center;
    margin-top: $card_margin_top;
    padding: 10px 0;
    .page-number {
        cursor: pointer;
        display: inline-block;
        padding: 0 10px;
        border-radius: $border_radius_0;
        text-decoration: none;
        border-bottom: none;
        color: $color_text;
        margin-right: 10px;
        @include activeShade($border_radius_0);
        &.current {
            background: $color_4;
            color: $color_9;
        }
    }
    .more {
        user-select: none;
        color: #ccc;
        margin-right: 10px;
    }
}