@use "../variables" as *;
@use "../mixins" as *;

.post-block {
    display: block;
    margin-top: $card_margin_top;
    padding: 40px;
    background: #fff;
    box-shadow: $box_shadow;
    border-radius: $border_radius;
    header {
        margin-bottom: $para_margin_bottom;
        .post-title { // h1
            margin: 0;
            margin-left: -18px; // border-left 的 8px + padding-left 的 10px。
            border-left: 8px solid $color_text;
            border-bottom: 0;
            padding-left: 10px;
            border-radius: $border_radius_0;
            a {
                display: inline-block; // 这样那个下划线在有多行时就不会出现在第一行了
                border-bottom: none;
                &:hover {
                    color: $color_5;
                }
                @include activeShade(0, 100%, 2px, scaleX(0), scaleX(1), right, left, $color_theme, $color_7, 0.6, 1);
            }
        }
        .post-meta {
            color: $color_text_0;
            font-size: .75em;
            .item {
                &:not(:first-child)::before {
                    content: "|";
                    margin: 0 5px;
                }
                i[class*="fa"], span {
                    margin-right: 3px;
                }
                time {
                    color: $color_text_1;
                    border-bottom: 1px dashed $color_text_1;
                    transition: color $transition_time, border-bottom-color $transition_time;
                    &:hover {color:$color_4;border-bottom-color:$color_3}
                }
            }
            
        }
    }
    article > :last-child {
        margin-bottom: 0;
    }
}