@use "../variables" as *;
pagefind-modal-trigger {
    display: block;
    margin-top: .5rem;
    margin-left: 9px;
    margin-right: 9px;
    :is([class^="pf-"]) {
        font-family: $font_lxgw!important;
    }
}
pagefind-modal {
    :is([class^="pf-"]) {
        font-family: $font_lxgw!important;
    }
    mark { // 高亮的关键字
        background-color: $color_2!important;
        color: $color_10!important;
        font-weight: bold!important; // 700
    }
    --pf-outline-focus: #f18913!important; // 即 $color_theme
}
pagefind-filter-pane {
    details > summary::before {
        content: none; // 覆盖掉 main.scss 里原有的
    }
}