$color_text: #444;
$color_1: #fffce6;
$color_2: #fff4b5;
$color_3: #ffea8c;
$color_4: #ffdd63;
$color_5: #faca39;
$color_theme: #ecae11;
$color_7: #c78904;
$color_8: #a16800;
$color_9: #7a4b00;
$color_10:#543100;

$border_radius: 5px;
$transition_time: .3s;

$box_shadow:
    0 2px 2px  0   rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.06),
    0 1px 5px  0   rgba(0, 0, 0, 0.12);

$card_margin_top: 12px;
