@use "variables" as *;
@use "mixins" as *;
@use "sass:color";
@use "sass:map";

// 用 `//!!plugin` 标记用 rehype/remark 一类的插件生成所需的样式

:root {
    font-family: $font_lxgw;
    font-size: 16px;
    background: $color_1;
    line-height: 1.5;
    word-break: break-word;
    color: $color_text;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

// 站点样式
.main-area {
    display: flex;
    flex-flow: row; // 文本排成行的方向
    justify-content: space-between;
    width: calc(100% - 100px);
    margin: 0 auto;
    .column {
        width: 240px;
        header, aside {
            box-shadow: $box_shadow;
            margin-top: $card_margin_top;
            border-radius: $border_radius;
            overflow: clip; // 让 border-radius 生效
        }
    }
    main {
        width: calc(100% - 240px - $card_margin_top); // 这里的 100% 是 main-area 基础上的
    }
}

// 基础样式
/// 文字段
a {
    display: inline-flex;
    align-items: center;
    color: $color_text;
    text-decoration: none;
    border-bottom: 1px solid $color_text;
    transition: color $transition_time, border-bottom-color $transition_time;
    &:hover {
        color: $color_theme;
        border-bottom-color: $color_theme;
    }
    &:active {
        color: $color_7;
        border-bottom-color: $color_7;
    }
    .external-link-icon { //!!plugin rehype-external-links
        color: $color_text_1;
        margin-left: 3px;
        font-size: 0.875em;
    }
}
strong {
    color: $color_text_3;
    font-weight: bold; // 700
}
em {
    color: $color_text_3;
    font-style: italic;
}
del {
    color: color.adjust($color: $color_text, $alpha: -0.32);
    text-decoration: line-through $color_text_1;
    transition: color $transition_time, text-decoration-color $transition_time;
    &:hover {
        color: $color_text;
        text-decoration-color: #{$color_text_0}70; // 加上透明度
    }
}
code:not(pre code) {
    font-family: $font_mono;
    background: #fbfbfb;
    border: 1px solid #e0e0e0;
    padding: .125em .2em;
    white-space: pre-wrap;
    word-break: break-all;
    border-radius: $border_radius_0;
}
:is(h1,h2,h3,h4,h5,h6) {
    display: flex;
    align-items: center;
    font-weight: bold; // 700
    margin: 30px 0 15px;
    color: $color_text_4;
    //!!plugin rehype-autolink-headings
    .headerlink { // a
        border-bottom: 0;
        margin-right: .25em;
        font-size: .875em;
        margin-left: -1.125em; // -(0.250+0.875)
    }
    .headerlink::before {
        @include fontawesome("\23"); // hashtag, #
        opacity: 0;
        transition: opacity $transition_time, color $transition_time;
    }
    &:hover .headerlink::before {opacity:0.3}
    &:target {
        .headerlink::before {opacity:1; color:$color_theme;}
        .headerlink:hover::before {color:$color_7;}
        .headerlink:active::before {color:$color_9;}
    }
    //!!plugin end
}
@for $headline from 1 through 6 {
    $headbordercl: 200 + 5 * $headline;
    h#{$headline} {
        font-size: $title_font_size - $title_font_size_step * $headline;
        border-bottom: 1px solid rgb($headbordercl $headbordercl $headbordercl);
    }
}
/// 段落段
//// margin 相关
p, blockquote, ul:not(ul ul, ol ul), ol:not(ul ol, ol ol),
img, table, details {
    margin: 0;
    margin-bottom: $para_margin_bottom;
}
:is(li, blockquote, p) {
    & > :last-child,
    & > :last-child pre {
        margin-bottom: 0;
    }
}
//// 一般
ul, ol {
    padding-left: $indent_left;
}
li {
    &::marker {
        color: $color_theme;
        font-weight: bold;
        transition: color $transition_time;
    }
    &:hover::marker {
        color: $color_8;
    }
}
blockquote {
    border-left: 3px solid $color_text_0;
    color: $color_text_1;
    padding-left: 1em;
    margin-left: calc((3px + 1em) * -1);
    position: relative;
    * {
        position: relative;
        z-index: 1;
    }
    &::before {
        @include fontawesome("\f10d"); // quote-left
        top: -.5rem;
        left: .5rem;
    }
    &::after {
        @include fontawesome("\f10e"); // quote-right
        bottom: -.5rem;
        right: .5rem;
    }
    &::before, &::after {
        position: absolute;
        color: $color_text_0;
        font-size: 2em;
        opacity: .4;
        z-index: 0;
        transition: color $transition_time;
    }
    &:hover::before, &:hover::after {
        color: $color_theme;
    }
}
hr {
    margin: calc($para_margin_bottom + 10px) 0;
    height: 4px;
    border: none;
    border-radius: 2px; // 4px / 2
    filter: grayscale(1);
    background: repeating-linear-gradient(135deg, $color_5 0 5px, $color_2 5px 10px);
    overflow: visible;  //v
    text-align: center; //为下面的 ::before 作准备
    transition: filter $transition_time;
    &::before {
        @include fontawesome("\e447"); // \e447 section
        position: relative;
        padding: $para_margin_bottom calc(50% - 0.25ch);
        top: calc(-0.5em - 2px); // -字体一半大小 - hr.style.height一半大小
        transition: color $transition_time;
    }
    &:hover {
        filter: grayscale(0);
        &::before {
            color: $color_theme;
            content: "分割线";
            font-family: $font_lxgw;
            font-weight: normal; // 400
            padding: $para_margin_bottom calc(50% - 1.5ic);
        }
    }
}
img {
    max-width: 100%;
    border-radius: $border_radius_0;
    box-shadow: $box_shadow;
}
table {
    border-collapse: collapse;
    /*border-spacing: 0;*/ // 设置了 border-collapse: collapse，已经没有 border-spacing 了。
    word-break: break-all;
    width: 100%;
    thead {
        background: #fafafa;
        tr th {
            font-weight: bold; // 700
            border: 1px solid $color_text_0;
            padding: .2em .375em;
            border-bottom-width: 2px;
        }
    }
    tbody {
        tr td {
            border: 1px solid $color_text_0;
            padding: .2em .375em;
        }
    }
    tr {
        transition: background-color $transition_time;
        &:hover {background: $color_1}
    }
}
details {
    border: 1px solid $color_text_1;
    border-left: 3px solid $color_text_0;
    border-radius: $border_radius_0;
    padding: 0;
    margin-left: -3px;
    background: #fff;
    > summary::marker {content: none;}
    > summary {
        font-weight: bold;
        border-radius: $border_radius_0;
        padding: .25em .25em .25em $indent_left;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color $transition_time;
        &::before {
            @include fontawesome("\f0da");
            color: $color_text_1;
            @extend %fa-fw; // width: 1.25em;
            padding-right: .125em;
            margin-left: -1.375em; // -1.25em-0.25em
            transform: rotate(0deg);
            transform-origin: .25em center;
            transition: transform $transition_time, color $transition_time;
        }
        &:hover {
            background: $color_1;
            &::before {
                color: $color_7;
            }
        }
    }
    &[open] {
        > :not(summary) {
            margin-right:$indent_top; margin-left:$indent_left;
            &:nth-child(2) {margin-top:$indent_top;}
            &:last-child {margin-bottom:$indent_top;}
        }
        > summary {
            border-bottom: 2px dotted $color_text_0;
            border-radius: $border_radius_0 $border_radius_0 0 0;
            &::before {
                transform: rotate(90deg);
            }
        }
    }
}

// 自定义 container //!!plugin remark-flexible-containers
.note:not(.note.title) {
    border-radius: $border_radius_0;
    margin-bottom: $para_margin_bottom;
    padding: $indent_top $indent_top $indent_top $indent_left;
    margin-left: -3px;
    @each $type in $note_text {
        &.#{$type} {
            border: 1px solid map.get($note_fg, $type);
            border-left-width: 3px;
            background: map.get($note_bg, $type);
            > .note.title {
                font-weight: bold; // 700
                color: map.get($note-fg, $type);
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                &::before {
                    @include fontawesome(map.get($note_icon, $type));
                    color: map.get($note_fg, $type);
                    @extend %fa-fw; // width: 1.25em;
                    padding-right: .125em;
                    margin-left: -1.375em; // -1.25em-0.25em
                }
            }
        }
    }
    > :last-child, > :last-child pre {margin-bottom:0;}
    // .note 的直接子代的最后一个元素（不管是什么）什么都要 margin-bottom 为 0。
}

/// 修复嵌套
details > :is(details, .note) {
    margin-left: calc($indent_left - 3px)!important;
}
details > table {
    width: calc(100% - $indent_top - $indent_left);
}
