@use "variables" as *;

pre.astro-code {
    font-family: $font_mono;
    white-space: pre;
    overflow: auto;
    padding: 1em $indent_left;
    margin: 0;
    margin-bottom: $para_margin_bottom;
    border-radius: $border_radius_0;
}